
body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}

.header {
    display: flex;
    background: radial-gradient(#fff,#ffe9d6);
    padding: 20px;
    text-align: center;
    margin-left: 200px;
    font-size: 30px;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #1876f2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Color del texto */
  font-family: 'Poppins', sans-serif;
}

.logo-left {
    flex: 1;
    text-align: left;
    padding-left: 40px
}

.logo-right {
    flex: 1;
    text-align: right;
    padding-right: 30px;
}

.subheader {
    background: radial-gradient(#fff,#ffe9d6);
    padding-left: 350px;
    padding-right: 350px;
    text-align: center;
    justify-content: space-between;
}

.block {
    display: list-item;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 45%;
    background-color: #b5b5b5;
    margin-bottom: 30px;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.table-container {
    position: relative;
    bottom: 0;
    width: 101%;
    padding: 20px;
    box-sizing: border-box;
}

th, td {
    border: 1px;
    padding: 8px;
}

th {
    background-color: #f2f2f2
}

tr:hover {
    background-color: #ddd;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ddd
}

.sidebar h2 {
    border: 1px solid #ddd;
    margin-top: 0; /* Elimina el margen superior del título */
}

.sidebar ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px; /* Espacio entre cada elemento de la lista */
}

.content {
    flex-grow: 1;
    margin-left: 220px;
    text-align: center;
}
