<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Gasto</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'eliminar_gasto_style.css' %}">
</head>
<body>
    <h1>Eliminar Gasto</h1>
    <form action="{% url 'mi_gestor:eliminar_gasto' gasto_id %}" method="post">
        {% csrf_token %}
        <p>Selecciona el gasto que deseas eliminar:</p>
        {% for gasto in gastos %}
            <label>
                <input type="radio" name="gasto_id" value="{{ gasto.id }}">
                {{ gasto.descripcion }} - {{ gasto.cantidad }}
            </label><br>
        {% endfor %}
        <button type="submit">Eliminar</button>
    </form>
</body>
</html>