<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Resumen Mensual</h1>

    <h2>Ingresar o Editar Presupuesto Mensual</h2>
    <a href="{% url 'mi_gestor:ingresar_presupuesto' %}">Ingresar/Editar Presupuesto</a>

    <h2>Agregar Gastos</h2>
    <a href="{% url 'mi_gestor:agregar_gastos' %}">Agregar Gastos</a>

    <div style="height: 80px;"></div>
    <h2>Tabla de Gastos</h2>
    <table>
        <thead>
            <tr>
                <th>Categoría</th>
                <th>Descripción</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for gasto in gastos %}
            <tr>
                <td>{{ gasto.categoria }}</td>
                <td>{{ gasto.descripcion }}</td>
                <td>{{ gasto.cantidad }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
