<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header">
        <div class="logo-left">
            <img src="{% static 'img/logo2.png' %}" width="400px">
        </div>
        <h2 class="circle">iSave</h2>
        <div class="logo-right">
            <img src="{% static 'img/logo2.png' %}" width="400px">
        </div>
    </div>

    <div class="sidebar">
        <h2 class="title-menu">Menú</h2>
        <ul>
            <li><a href="{% url 'mi_gestor:ingresar_presupuesto' %}">Ingresar/Editar Presupuesto</a></li>
            <li><a href="{% url 'mi_gestor:agregar_gasto' %}">Agregar Gasto</a></li>
            <li><a href="{% url 'mi_gestor:eliminar_gasto' gastos.0.id %}">Eliminar Gasto</a></li>
        </ul>
    </div>

     <div class="content">
        <div class="subheader">
            <div class="block">
                <h2 class="title2">Presupuesto Mensual</h2>
                <p>Presupuesto para este mes ({{ mes_actual|date:"F, Y"}}):<br>{{ presupuesto_mes_actual }} €</p>
                <p>Presupuesto restante para este mes ({{ mes_actual|date:"F, Y" }}):<br>{{ diferencia }} €</p>
            </div>
            <div class="block">
                <h2 class="title2">Gasto Mensual</h2>
                <p>Gastos acumulados este mes ({{ mes_actual|date:"F, Y" }}):<br>{{ total_mes_actual }} €</p>
            </div>
            <div class="image-front">
                <img src="{% static 'img/coins.png' %}" width="300px">
            </div>
        </div>

        <div class="table-container">
            <h2 class="title2">Historial de Gastos este Mes</h2>
            <button id="toggleButton">Mostrar Historial</button>
            <table id="tabla-gastos" border="1" style="display:none;">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Categoría</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for gasto in gastos %}
                    <tr>
                        <td>{{ gasto.fecha }}</td>
                        <td>{{ gasto.categoria }}</td>
                        <td>{{ gasto.descripcion }}</td>
                        <td>{{ gasto.cantidad }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="{% static 'toggle.js' %}"></script>

</body>
</html>